node_modules/
dist/
.env
*.log
coverage/
.DS_Store

# Flutter/Dart build artifacts
**/build/
.dart_tool/
.flutter-plugins-dependencies
.idea/
*.iml
pubspec.lock
android/.gradle/
ios/Pods/
ios/.symlinks/
